@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 100vh;
}

body.dark-mode {
    background-color: rgb(36, 24, 24);
    color:#fff
}

main {
    max-width: 1200px; 
    margin: auto;
}

nav {
    display: none;
}

#close-menu {
    display: none;
}

section {
    max-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.menu-item, .menu-item-mobile {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 12px;
}

.menu-item:hover {
    text-decoration: underline
}

.active {
    background-color: #af599e;
    padding: 5px;
    color: #faf8f8;
    border-radius: 10px;
    text-align: center;
}

#mobile-nav {
    position: fixed;
    display: none;
    width: 100%;
    z-index: 10000;
    background-color: #faf8f8;
    margin-top: 70px;
    height: 0px;
    overflow: hidden;
    padding: 0px 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

#menu-navegacion {
    background-color: #faf8f8;
    height: 90px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    margin-top: -20px;
    z-index: 999;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#menu-btn {
    background: transparent;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 150px;
    display: none;
    text-align: right;
}


figure {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

#inicio {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    line-height: 1.2;
}

.ul-header {
    list-style: none;
    display: flex;
}

#ul-footer {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: inherit;
}

.boton {
    background-color: #af599e;
    color:#fbfbfb;
    border-radius: 50px;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}

p {
    line-height: 150%;
}

#contacto {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    line-height: 1.2;
}

.fondo {
    background-color: rgba(175, 89, 158, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

footer {
    background-color: #af599e;
    height: 90px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fbfbfb;
    font-size: 18px;
}

@media (min-width: 1024px) {

section {
    max-height: 120vh;
}

nav {
    display: block;
}

#close-menu {
    display: none;
}

#open-menu {
    display: none;
}

section#inicio {
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

figure {
    height: 400px;
}

h1 {
    text-align: left;
    font-size: 44px;
}

article.introduccion {
    text-align: left;
    width: 80%;
    margin-left: 50px;
}

}

@media (max-width: 1023px) {


#mobile-nav.show {
    display: block;
    height: 96px;
    overflow: scroll;
    transition: height 0.5s;
}

#menu-btn {
    display: block;
}

.ul-header {
    list-style: none;
    display: flex;
    flex-direction: column;
}
}
